h1 {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
  background-color: aqua;
  font-variant: small-caps;
}

p {
  font-family: monospace;
  font-style: underline;
  font-size: 50px;
  background-color: blueviolet;
}
